:root {
  --primary-color: black;
  --secondary-color: whitesmoke;
  --accent-color: #1bc41b;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

.mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.mainNav li {
  float: left;
}

.mainNav li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 20px 22px;
  display: block;
  text-align: center;
}

.mainNav a:hover {
  color: var(--accent-color);
}